@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.header {
  background: #fff;
  padding: 15px 25px;
  width: 80%;
}

.logo {
  font-size: 25px;
  font-family: "Bebas Neue", cursive;
  font-weight: 900;
}
